<h1>{{title}}</h1>

{{#if data.length}}
<div class="wrapper-flex-container">
    {{#each data}}
    <div class="flex-inside">
        <div class="card-flex indigo darken-4">
            <div class="white-text">
                <div class="card-title">{{name}}</div>
                <h6>Price: {{price}} $ </h6>
                <h6>Author: {{author}}</h6>
            </div>
            <div>
                <a class="waves-effect waves-light btn" href="/courses/{{id}}" target="_blanc">Buy course</a>
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{else}}
<h6>No available courses</h6>
{{/if}}