<h1>{{title}}</h1>

{{#if data}}
<div>
    <div class="only-card s6 m6">
        <div class="card indigo darken-4">
            {{#if  errorCourse}}
            <div class="red-text">{{ errorCourse}}</div>
             {{/if}}
            <div class="card-content white-text">
                <span class="card-title">{{data.name}}</span>
                <h6>Price: {{data.price}} $ </h6>
                <h6>Author: {{data.author}} </h6>
                <div>
                {{#ifeq data.idUser userId}}
                    <form action="/courses/remove" method="POST" class="inline-me">
                    <input type="hidden" name="_csrf" value="{{@root.csrf}}">
                        <input type="hidden" value="{{data._id}}" name="id">
                        <input type="submit" class="btn waves-effect deep-orange accent-4" value="Delete Course">
                    </form>
                    <a class="waves-effect waves-light btn" href="/courses/{{data._id}}/edit?allow=true">Edit</a>
                {{/ifeq}}
                <form action="/cart/add" method="POST" class="inline-me">
                    <input type="hidden" name="_csrf" value="{{@root.csrf}}">
                    <input type="hidden" value="{{data._id}}" name="id">
                    <input type="submit" class="btn waves-effect light-green darken-4" value="Add to cart">
                </form>
            </div>
            </div>
        </div>
    </div>
</div>
{{else}}
<h6>Unreal course</h6>
{{/if}}