<h1>{{title}}</h1>

<div class="row">
    <div class="col s6">
        <img class="avatar" src="{{user.avatarUrl}}" alt="avatar-{{user.name}}">
    </div>
    <div class="col s6">
        <form action="/profile?_csrf={{csrf}}" method="POST" enctype="multipart/form-data" class="forms">
            <p class="white-text">Email: <strong>{{user.email}}</strong></p>
            <p class="white-text">Username: <strong>{{user.name}}</strong></p>
            {{#if errorFile}}
                <div class="red-text">{{errorFile}}</div>
            {{/if}}
            <div class="file-field input-field">
                <div class="btn">
                    <span>Image</span>
                    <input type="file" name="myImage">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
</div>